*{
    margin: 0;
    padding: 0;
}

#título{
    font-family: sans-serif;
    color: #380B61;
    margin-left: -7%;
    justify-content: center;
}
#subtitulo{
    font-family: sans-serif;
    color: #380B61;
    margin-left: 5%;
    justify-content: center;
}

#cliente{
    background-color: #F0F8FF;
    justify-content: center;
    font-family: sans-serif;
    font-size: 1em;
    color:#59429d;
    margin-left: 40%;
    margin-top: 2%; 
}
button:hover{
    background-color: #59429d;
   
}
.bg-light {
    
    padding-left: 20px;
    
    
}


#login{
    
   padding-left: 50%;
    
    
    
}

#cadastro {
    
    padding-left: 50%;
 
}
