.body{
    background: #FFFFFF;   
}

.botao{
    margin-top: 14px;
    margin-left: 38%;
    font-size: 1.5em;
    background: #87CEFA;
    border: 0;
    margin-bottom: 1em;
    color: darkblue;
    padding: 0.2em 0.6em;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
    text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
}

.botao1{
    margin-top: 14px;
    margin-left: 41%;
    font-size: 1.5em;
    background: #87CEFA;
    border: 0;
    margin-bottom: 1em;
    color: #FFF;
    padding: 0.2em 0.6em;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
    text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
}

a {
    color: darkblue;
    text-decoration: none;
}

a:hover 
{
     color:#00A0C6; 
     text-decoration:none; 
     cursor:pointer;  
}

.form1{
    border: 4px inset silver;
    margin-right: 40px;
    margin-left: 20px;
    margin-bottom: 20px;
    margin-top: 20px;
    padding-top: 20px;
    padding-bottom: 26px;
    padding-left: 20px;
    padding-right: 20px;
    font-family: times new roman, sans-serif;
    font-size: 18px;
    background-color: darkgray;
}

.form2{
    border: 4px outset silver;
    margin-right: 40px;
    margin-left: 20px;
    margin-bottom: 20px;
    margin-top: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    font-family: times new roman, sans-serif;
    font-size: 18px;
    background-color: darkgray;
    
}

h1{
    text-align: center;
    padding-top: 20px;
    padding-bottom: 10px;
    font-family: times new roman, sans-serif;
    font-size: 40px;
    
}

#uf{
    margin-left: 2px;
    margin-right: 5px;
    margin-bottom: 10px;
    margin-top: 56px;
    padding-bottom: 6px;
    padding-top: 3px;
    padding-left: 4px;
    padding-right: 2px;
    font-family: times new roman, sans-serif; 
}

.form-control{
    border: 1px inset black ;
}

.titcad{
    color: #1E90FF;
    font-family: Consolas;
}

.botaocad{
    font-size: 1.5em;
    background: #696969;
    border: 0;
    margin-bottom: 1em;
    margin-left: 1%;
    color: #000000;
    border: 1px inset black;
    padding: 0.2em 0.6em;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
    text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
}

.botaovalid{
    font-size: 1.5em;
    background: #696969;
    border: 0;
    margin-bottom: 1em;
    margin-left: 1%;
    color: #000000;
    border: 1px inset black;
    padding: 0.2em 0.6em;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
    text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
    
    
    
}


.row {

}

.col-3 {

}

.btn-primary {
    
    
    
    
}
